/*custom color to the scrollbar --WEBKIT--*/
::-webkit-scrollbar {color:black;background-color:black;}
::-webkit-scrollbar-button {color:#33ccff;background-color:#33ccff;}
::-webkit-scrollbar-track {color:black;background-color:black;}
::-webkit-scrollbar-track-piece {color:black;background-color:black;}
::-webkit-scrollbar-thumb {color:#33ccff;background-color:#33ccff;}

/*FONTS*/
@font-face {
  font-family: ardestine;
  src:url('../fonts/ARDESTINE.ttf') format('truetype');
}

@font-face {
  font-family: amoceanus;
  src:url('../fonts/AMOceanus.ttf') format('truetype');
}

@font-face {
  font-family: amoceanusb;
  src:url('../fonts/AMOceanusBold.ttf') format('truetype');
}

@font-face {
  font-family: aero;
  src:url('../fonts/aero.ttf') format('truetype');
}

@font-face {
  font-family: square;
  src:url('../fonts/tt0248m_.ttf') format('truetype');
}

@font-face {
  font-family: LatoM;
  src:url('../fonts/Lato-Medium.ttf') format('truetype');
}

@font-face {
  font-family: LatoL;
  src:url('../fonts/Lato-Light.ttf') format('truetype');
}

/*REGULAR STYLING*/
body {
  padding-top: 50px;
  background: url('../img/bg_4.jpg');
  -ms-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size:cover;
  background-size: cover;
  background-attachment:fixed;
  background-repeat:no-repeat;
}

.load-screen{
  background: black;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  text-align: center;
}
.load-screen h2{
  color: #33ccff;
  font-family: square;
}

.navbar{
  background:#000000;
}
.nav-item{
  background:#33ccff;
}
.nav-item:hover{
  background:#343434;
}

.intro-space{
  margin-top:120px;
}

#c-logo{
 height: 15em;
}

#c-name{
 text-transform: uppercase;
 color: #000;
 font-family: amoceanusb;
 letter-spacing: 1em;
 font-size: 1.3em;
 padding-top: 2em;
 padding-left: 1em;
}

#arrow{
  margin-top:5%;
  margin-bottom:5%;
  -webkit-filter: drop-shadow(0px 0px 8px rgba(51, 204, 255, 0.8));
}
#arrow:hover{
  -webkit-animation:tada 1s;
  -moz-animation:tada 1s;
  -ms-animation:tada 1s;
  animation:tada 1s;
}

.about{
  margin-top: 10em;
  border-bottom: #33ccff solid 5px;
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 5%;
}

.team{
  margin-top: 10em;
  border-bottom: #33ccff solid 5px;
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 5%;
}

#team-imgs {
  background-color: #000;
  padding-top: 1em;
  overflow: auto;
  white-space: nowrap;
}

#team-imgs a img{
  width: 180px;
  height: 180px;
  margin-left: 40px;
}

.team-name{
  background: #000;
  display: none;
}
.team-name p{
  text-align: center;
  font-family: square;
  font-size: 25px;
  color: #33ccff;
}


#sgimage:hover{
  -webkit-animation:pulse 1s infinite;
  -moz-animation:pulse 1s infinite;
  -ms-animation:pulse 1s infinite;
  animation:pulse 1s infinite;
}

#dbimage:hover{
  -webkit-animation:pulse 1s infinite;
  -moz-animation:pulse 1s infinite;
  -ms-animation:pulse 1s infinite;
  animation:pulse 1s infinite;
}
#gwimage:hover{
  -webkit-animation:pulse 1s infinite;
  -moz-animation:pulse 1s infinite;
  -ms-animation:pulse 1s infinite;
  animation:pulse 1s infinite;
}


.services{
  margin-top: 10em;
  border-top: #33ccff solid 5px;
  border-right: #33ccff solid 5px;
  border-left: #33ccff solid 5px;
  background: white;
  margin-bottom: 5%;
}

.head{
 text-align: center;
 text-transform: uppercase;
 font-size: 2.5em;
 font-family: ardestine;
 text-shadow:1px 1px 10px #33ccff;
}

#about_p{
 color: #fff;
 text-align: center;
 font-size: 1.4em;
 font-family: square;
 padding-top: 4em;
 padding-bottom: 4.5em;
 background-color: #000;
}

.service{
  display: inline-block;
  padding: 10px;
  color: Black;
  font-family: aero;
  border:  #000 solid 2px;
}
.service img{
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
}
.service a{
  text-decoration: none;
  font-family: arial;
  font-size: 20px;
  padding: 10px;
  background-color: #33ccff;
  border:  lightgreen solid 2px;
  color: white;
  border-radius: 10px;
}
.service a:hover{
  background-color: lightgreen;
}

.web:hover{
  -webkit-animation:bounce 1s;
  -moz-animation:bounce 1s;
  -ms-animation:bounce 1s;
  animation:bounce 1s;
}
.app:hover{
  -webkit-animation:bounce 1s;
  -moz-animation:bounce 1s;
  -ms-animation:bounce 1s;
  animation:bounce 1s;
}
.graphics:hover{
  -webkit-animation:bounce 1s;
  -moz-animation:bounce 1s;
  -ms-animation:bounce 1s;
  animation:bounce 1s;
}
.game:hover{
  -webkit-animation:bounce 1s;
  -moz-animation:bounce 1s;
  -ms-animation:bounce 1s;
  animation:bounce 1s;
}
.game{
  display: none;
}

.contact{
  margin-top: 10em;
  text-align: center;
  border-bottom: #33ccff solid 5px;
  background: black;
  margin-bottom: 0em;
}
.c-head{
  margin-bottom: 0;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  font-family: ardestine;
  font-weight: bold;
}
.contact #ctxt{
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  font-family: LatoL;
  padding-top: 2em;
  padding-bottom: 1.5em;
}
.contact li{
  display: inline-block;
  margin-right: 2em;
}

.contact li a img{
  width: 3em;
  height: 3em;
  margin-bottom: 10px;
}
.contact li a img:hover{
  -webkit-animation:tada 1s;
  -moz-animation:tada 1s;
  -ms-animation:tada 1s;
  animation:tada 1s;
}
#mail{
  color: #33ccff;
  font-size: 15px;
  padding-bottom: 1em;
}
#phone{
  color: #33ccff;
  font-size: 15px;
  padding-bottom: 1em;
}

/*footer styles*/
footer {
  background-color:black;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width:100%;
  position: bottom;
}

footer p {
  text-align: center;
  font-size: 1.2em;
  color: #666;
  margin-bottom: 0;
}

footer p span {
  float: left;
}
#c-org{
 text-transform: uppercase;
 color: #33ccff;
 font-family: ;
 font-size: .8em;
 margin-left: 0;
 margin-right: 3.5em;
}

#to_top{
  position: fixed;
  bottom:.7em;
  left:95%;
  z-index: 1;
}#to_top:hover{
  -webkit-animation:bounce 1s;
  -moz-animation:bounce 1s;
  -ms-animation:bounce 1s;
  animation:bounce 1s;
}
